{{ define "main" }}
<article class="lesson">
    <header class="lesson-header">

        <h1>{{ .Title }}</h1>
    </header>

    <div class="lesson-content">
        {{ .Content }}
    </div>

    <div class="lesson-meta">
        <p class="article-date"><time>{{ .Date.Format "02.01.2006" }}</time></p>
        <!--{{ with .Params.categories }}
        <div class="categories">
            {{ range . }}
            <a href="{{ "/categories/" | relURL }}{{ . | urlize }}/" class="category-tag">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}-->
    </div>
    {{ partial "lesson-nav.html" . }}
</article>

{{ end }}