<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} </title>
  <!-- Объединяем и минифицируем все CSS файлы -->
  {{ $reset := resources.Get "/css/reset.css" }}
  {{ $custom := resources.Get "/css/custom.css" }}
  {{ $syntax := resources.Get "/css/syntax.css" }}
  {{ $playground := resources.Get "/css/playground.css" }}
  {{ $links := resources.Get "/css/links.css" }}
  {{ $article := resources.Get "/css/article.css" }}

  {{ $cssFiles := slice $reset $custom $syntax $playground $links $article }}
  {{ $bundle := $cssFiles | resources.Concat "css/bundle.css" | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $bundle.Permalink }}">

  <!--<link rel="stylesheet" href="/css/tour.css">-->
<!--  <link rel="icon" type="image/png" href="/images/icon-32-2.png" sizes="32x32">-->
 <!-- <link rel="icon" type="image/png" href="/images/icon-32-3.png" sizes="32x32">-->
  <link rel="icon" type="image/png" href="/images/icon-cat.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/icon-cat-bant.png" sizes="32x32">
<!--  <link rel="icon" type="image/png" href="/images/eyes.png" sizes="32x32">-->
</head>
<body>
<div class="site-wrapper">
  {{ partial "header.html" . }}

  {{ partial "nav.html" . }}

  <main class="main-container">
    <aside class="sidebar">
      {{ partial "sidebar.html" . }}
    </aside>

    <div class="content">
      {{ if not .IsHome }}
      {{ partial "breadcrumb.html" . }}
      {{ end }}

      {{ block "main" . }}{{ end }}
    </div>
  </main>

  <footer class="footer">
    <p>© {{ now.Year }} Go-Котяра</p>
  </footer>
</div>
<!-- JavaScript песочницы -->
{{ $playgroundJS := resources.Get "js/go-playground.js" | minify | fingerprint }}
<script src="{{ $playgroundJS.Permalink }}"></script>
</body>
</html>