<header class="site-header">
<!-- <img src="/images/header-2.png" alt="Go-Котяра" class="header-image">
 <img src="/images/header-image-cat-gopher-1.png" alt="Go-Котяра" class="header-image">--><!--
 <img src="/images/merged-tin-header-image.jpg" alt="Go-Котяра" class="header-image">--><!---->
 <!--
 <img src="/images/header-image.png" alt="Go-Котяра" class="header-image">//-->
 {{ with resources.Get "images/header-image.png" }}
 {{ $optimized := . | resources.Fingerprint }}
 <img src="{{ $optimized.Permalink }}" alt="изображение для шапки сайта">
 {{ end }}
 <!--
 <img src="/images/header-image-arease-layers-4.png" alt="Go-Котяра" class="header-image">-->

<!-- <img src="/images/header-image-777-end-vesion.png" alt="Go-Котяра" class="header-image">-->
  <!---<h1 class="site-title">Go-Котяра</h1>//-->
</header>