<nav class="lesson-navigation">
    <div class="nav-container">

        {{ if .PrevInSection }}
        📖 <a href="{{ .PrevInSection.RelPermalink }}" class="nav-btn prev">
            {{ .PrevInSection.Title }} →
        </a>
        {{ else }}
        <span class="nav-btn next disabled">Завершение →</span>
        {{ end }}

    <!--
        <a href="{{ "/tour/" | relURL }}" class="nav-btn home">📚 Все уроки</a>


        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.RelPermalink }}" class="nav-btn prev">
            ← {{ .PrevInSection.Title }}
        </a>
        {{ else }}
        <span class="nav-btn prev disabled">← Начало</span>
        {{ end }}
        //-->
    </div>
</nav>